# Titanic Survival Prediction

In [1]:
#Importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

## Importing Data

In [2]:
data = pd.read_csv('./train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Creating new attributes / Data Engineering

## Missing Values

## Spliting data into train and test sets!

## Getting data ready for ML Algorithms

In [4]:
# Checking cross_val_score()
# 1.    Linear Regression
# 2.    Logistic Regression
# 3.    Random Forest Classifier
# 4.    KNeighbors Classifier
# 5.    Descision Tree Regressor

## Hyperparameter tuning using GridSearchCV

## Saving the model using joblib or pickle